html{
  font-size: 14px !important
}
body{
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif !important;
  overflow-y:auto;
  overflow-x:hidden 
}
h1 sub{
  bottom: 0.10em !important;
  font-size: 0.4em;
}
a {
	text-decoration: none !important;
}
em{
  font-weight: 600;
  font-style: normal;
}
.typeahead {
  font-size: 20px;
  line-height: 30px;
}
.twitter-typeahead {
  width: 100%;
}
.search-box{
  position: relative;
}
.appbase{
  position:absolute;
  width:14%;
  margin: auto;
  top:0px;
  bottom: 0px;
  right: 10px;
}
.tt-menu {
  display: block !important;
}

.container{
  position: relative;
}
.panel .panel-title{
  font-size: 22px;
  line-height: 46px;
}
.search-box-container{
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
  transition:all 0.3s;
}
.search-box-container.search-box-container-grow{
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  background: #fff;
  padding: 20px;
  border-radius: 3px;
  z-index: 10
}
.search-box-container-grow .search-box{
  margin: 10px 0;
}
/*#search-title{
  display: none;
}*/
.code_snippet{
  padding: 12px 16px 0;
  resize: none;
  color: #444;
  background: #f6fcfe;
  font-size: 12px;
  line-height: 1.33;
  border: 1px solid #bbe5f7;
  height: 200px
}
.overlay{
  display: none;
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,0.50);
  height: 100%;
  z-index: 9;
  top: 0;
  right: 0;
}

/*Index page Start*/
.index .header, .dashboard-body{
      min-height: 100%;
    background-color: #3b2f63;
    background-image: -webkit-radial-gradient(0% bottom, rgba(73,98,220, 0.7) 0, rgba(73,98,220, 0) 60%), -webkit-radial-gradient(90% bottom, #4962dc 0, rgba(82, 63, 140, 0) 40%), -webkit-radial-gradient(50% top, rgba(231, 76, 60, 0.6) 0, rgba(231, 76, 60, 0) 85%), -webkit-radial-gradient(right top, #794aa2 0, rgba(121, 74, 162, 0) 57%);
    background-image: radial-gradient(at 0 bottom, rgba(73,98,220, 0.7) 0, rgba(73,98,220, 0) 60%), radial-gradient(at 90% bottom, #4962dc 0, rgba(82, 63, 140, 0) 40%), radial-gradient(at 50% top, rgba(231, 76, 60, 0.6) 0, rgba(231, 76, 60, 0) 85%), radial-gradient(at right top, #794aa2 0, rgba(121, 74, 162, 0) 57%);
    background-image: -webkit-radial-gradient(0% bottom, rgba(231, 76, 60, 0.2) 0, rgba(231, 76, 60, 0) 40%), -webkit-radial-gradient(90% bottom, #794aa2 0, rgba(82, 63, 140, 0) 40%), -webkit-radial-gradient(50% top, rgba(73, 98, 220, 0.6) 0, rgba(73, 98, 220, 0) 85%), -webkit-radial-gradient(right top, #794aa2 0, rgba(121, 74, 162, 0) 57%);
    background-image: radial-gradient(at 0 bottom, rgba(231, 76, 60, 0.2) 0, rgba(231, 76, 60, 0) 40%), radial-gradient(at 90% bottom, #794aa2 0, rgba(82, 63, 140, 0) 40%), radial-gradient(at 50% top, rgba(73, 98, 220, 0.6) 0, rgba(73, 98, 220, 0) 85%), radial-gradient(at right top, #794aa2 0, rgba(121, 74, 162, 0) 57%);
    background-size: auto, auto, 100% 1000px, 100% 1000px;
    background-repeat: no-repeat;
    padding: 0
}
.index .header .navbar{
  background-color: transparent;
    padding: 0;
    position: relative;
    display: block;
}
body.index{
  padding-top: 0;
}
.index header{
  background: transparent;
}
.index .purple-bg{
  background: #986EFA;
  color: #fff
}
.index .blue-bg{
  background: #5895FF;
  color: #fff
}
.index .purple-bg p, .index .blue-bg p{
  color: #fff !important;
}
.index .main-container{
  padding: 0
}
.index .navbar-default .navbar-brand,.index .navbar-default .navbar-nav>li>a{
  color: #fff
} 
.index .nav-container{
  padding: 0 8px;
}
/*.index .navbar{
  border-bottom: 1px solid #fff;
  border-radius: 0;  
}*/
.index .header-container{
  padding: 100px;
}
.index h1,.index  h2,.index  h3,.index  h4,.index  h5,.index  h6 {
    text-transform: none;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: normal;
}
/*.index p{
  font-size: 14px;
}*/
.index section, .dashboard-body section {
    padding: 70px 0;
}
.index section h2{
  padding-bottom: 20px;
}
.index .login-box .login-search{
  width: 100%;
  display: block;
  background-color: transparent;
  border-radius: 4px;
  border-color: #fff;
  padding: 5px 10px;
  padding-right: 34px;
}
.index .login-box .icon-container{
    position: absolute;
    right: 16px;
    top: 0;
    line-height: 32px;
    width: 34px;
    border-left: 1px solid #fff;
}
.index .important h4{
  line-height: 1.6em
}
.proudly_built{
  margin-bottom: 10px;
}
.proudly_built .msg{
  font-size: 3rem;
}
#logo{
  max-width: 120px;
}
.index .img-container img{
  max-width: 100px;
}
.index .white-bg{
  background: #fff;
  color: #555
}
.index .white-bg h2, .index .white-bg h4, .index .white-bg h3{
  color: #823AC1
}
.index .experience{
  text-align: center;
}
.index .experience h2, 
.index .live-methi h2{
  padding-bottom: 40px;
}
.index .show-block{
  height: 120px;
  line-height: 120px;
  background-color: rgba(222,222,222,0.70);
  color: #0A66C9;
  font-size: 20px;
}
.index .short-line{
  padding-top: 40px;
}
.index .short-line .myweb{
   color: #ddd;
   font-size: 14px;
}
.index .features h4{
  color: #999
}
.index .login-show{
  cursor: pointer;
}
.notif-btn{
  position: relative;
  padding: 0 3em;
  outline: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
  z-index: 50;
  line-height: 4;
  overflow: hidden;
  border-radius: 5px;
  background: rgba(0,0,0,0.2);
  display: block; 
  border: 1px solid rgba(0,0,0,0.2);
}
.notif-btn:hover{
  background: rgba(0,0,0,0.5);
  color: #fff
}
.index .hide-it, .hide-it{
  display: none;
}
.index h1, .dashboard-body h1{
  font-size: 3.5rem;
  line-height: 4.5rem;
}
.login-box-container{
     margin: 0 auto;
    float: none;
    display: block;
    position: relative;
    margin-top: 50px
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content{
  top: 30px;
}
#portfolio .portfolio-item .portfolio-link .caption:hover{
  background-color: rgba(130, 58, 193,0.5);
}
.appbase-modal-btn
{
  background-color: #363636;
  color: #fff;
  border: 1px solid #fff;
  margin: 10px;
  padding: 5px 15px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.appbase-modal-btn:hover, .appbase-modal-btn:focus, .appbase-modal-btn:active{
  background-color: #fff;
  color: #363636;
  border-color:#363636;
}
.index .important-msg{
  padding-top: 20px;
  font-size: 1.8em;
}
/*Index page End*/

/*Dashboard Page Start*/
.dashboard-body{
  color: #fff;
  overflow: auto;
}
.dashboard-body h1{
  margin-top: 50px
}
.center-in{
  margin: 0 auto;
  float: none;
}
.dashboard-body .notif-btn{
      font-size: 1.5em;
    line-height: 2em;
    display: inline-block;
    padding: 1em;
    width: 300px;
}
.dashboard-body .notif-btn span{
    display: inline-block;
    width: 100%;
    float: left;
}
textarea.code_snippet {
    margin-top: 50px ;
    padding: 12px 16px 0;
    width: 100%;
    height: auto;
    resize: none;
    color: #444;
    background: #f6fcfe;
    border: 1px solid #bbe5f7;
    height: 100px;
    font-size: 1.3rem;
}
.textarea_container{
  position: relative;
}
.loading{
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.20);
  width: 100%;
  height: 100px;
  line-height: 100px;
  top: 50px;
}
.copy_button{
  position: absolute;
  right: 0;
  bottom: 6px;
  background: #eee;
  color: #555;
  padding: 5px 15px;
  cursor: pointer;
  border-top-left-radius: 5px;
}
.copy_button:hover{
  background: #ddd
}
/*Dashboard Page End*/
/*Demo Page START*/
.dashboard-body .demo-section{
  padding: 0
}
.dashboard-body .demo-section{
  margin-top: 3rem;
}
.dashboard-body .search-box{
  margin-top: 4rem;
}
.search-box .fa-search{
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 24px;
  line-height: 46px;
  color: #555;
}
.dashboard-body .sub-text{
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.demo_page .search-box input.typeahead
{
  padding-left: 42px;
}
.demo_page .search-box
{
  padding-bottom: 10px;
}

.demo_page .nav-container,
.demo_page .intro-text,
.demo_page .search-block,
.methi-section-text{
  padding: 0 8px 50px 8px;
}
.demo_page .intro-text h1,
.demo_page .intro-text h2{
  padding: 0 16px
}
.demo_page .header-container{
  padding: 0
}
.demo_page .header .navbar{
  margin-bottom: 0
}
.demo_page h1{
  margin-top: 0;
  margin-bottom: 10px
}
.demo_page h2{
  padding: 0
}
.demo_page .header-container p{
  color: #fff !important
}
.demo_page .features{
  padding: 50px 0 0 0;
  text-align: center;
}
.demo_page .features .title{
  padding-bottom: 30px;
}
.demo_page .features .img-container,
.index .experience .img-container{
  padding: 0 0 20px 0
}
.demo_page .features .img-container img,
.index .experience .img-container img{
  max-width: 100px
}
.demo_page .features .feature-block,
.index .experience .feature-block{
  padding: 30px;
}

.font-xs{
  font-size: 0.8rem;
  line-height: 1rem
}
.font-sm{
  font-size: 1rem;
  line-height: 1.4rem
}
.font-md{
  font-size: 1.5rem;
  line-height: 2rem
}
.font-lg{
  font-size: 1.7rem;
  line-height: 2.1rem
}
.demo_page h1, .index h1.methi-main-text{
  font-size: 3.5rem;
  line-height: 4.5rem
}
.demo_page h2, .methi-sub-text{
  font-size: 3rem;
  line-height: 4rem
}
.img-inside{
  padding:0 50px;
  display: block; 
}
.img-inside img{
  max-width: 100%;
}
.feature-title{
  padding-bottom: 20px !important;
}
.index .footer h3{
  font-size: 2rem;
  line-height: 3rem;
}
.installation-text{
  font-size: 1.7rem;
  line-height: 2.7rem
}
.toast{
  background-color: #fff;
  color: #555 !important;
  opacity: 1;
}
.appbase_methi_logo{
  top:-7px;
}
/*Demo Page END*/

@media (min-width: 767px) and (max-width: 1024px)  {
  html{
    font-size: 12px !important;
  }
}
@media (min-width: 468px) and (max-width: 768px)  {
  html{
    font-size: 12px !important;
  }
  .appbase{
    width:20%;
    right:5px;
  }
  .demo-body{
    padding: 0 20px 20px;
  }
  .search-box .fa-search{
    left: 10px;
    font-size: 16px;
    line-height: 46px;
  }
  .dashboard-body .search-box input.typeahead
  {
    padding-left: 30px;
    font-size: 16px;
    line-height: 30px
  }
  .dashboard-body .search-box img{
    width: 80px;
  }
  .dashboard-body h1{
    font-size: 2.5rem
  }
  .dashboard-body .sub-text{
    font-size: 1.5rem;
    line-height: 2.5rem
  }
   /*.demo_page h1{
    font-size: 2.6rem;
    line-height: 3.2rem
  }
  .demo_page h2{
    font-size: 2rem;
    line-height: 2.6rem
  }*/
 .index .header-container{
    padding: 50px 10px;
 }
 .important-msg{
  text-align: center;
 }
}
@media (max-width: 468px){

 .index .header-container{
    padding: 50px 10px;
 }
  html{
    font-size: 10px !important;
  }
  .appbase{
    width:20%;
    right:5px;
  }
  .demo-body{
    padding: 0 20px 20px;
  }
  .search-box .fa-search{
    left: 10px;
    font-size: 16px;
    line-height: 46px;
  }
  .dashboard-body .search-box input.typeahead
  {
    padding-left: 30px;
    padding-right: 90px;
    font-size: 16px;
    line-height: 30px
  }
  .dashboard-body .search-box img{
    width: 80px;
  }
  .dashboard-body h1{
    font-size: 2.5rem
  } 
  .dashboard-body .sub-text{
    font-size: 1.5rem;
    line-height: 2.5rem
  }
   .demo_page h1, .index h1.methi-main-text{
    font-size: 2.6rem;
    line-height: 3.2rem
  }
  .demo_page .intro-text h2, .methi-sub-text{
    font-size: 2rem;
    line-height: 2.6rem
  }

 .important-msg{
  text-align: center;
 }
  
}
.footer{
  padding: 30px 0px !important;
}
p{
  color: #999 !important;
}

video{
    box-shadow: 0 0 10px rgba(10,15,20,0.5);
    border-radius: 6px;
}

