#grid{
	width: 100%; 
	position: relative;
	font-size: 25px;
	font-family: 'Helvetica';
	overflow:hidden;
}
.box {
	float: left;
	position: relative;
	margin:10px;
}
.box  img{
	width:100%;
}
#breadcrumbs{
	top:45px;
	position:fixed;
	left:0;
	right:0;
}


.navbar-fixed-top{
	position:fixed;
}

#menu-toggler{
	position:fixed;
	z-index:100px;
	top:45px;
}

#user_info{
	top:13px;
}

.navbar .nav{
	position:fixed;
	right:0;
	top:0;
}
#page-content{
	margin-top:90px;
}
@media (max-width:979px){
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
padding: 0px;
}
}

@media (max-width:768px){
	#page-content{
//		margin-top:100px;
	}
}

